/LibraryProject/bin/
/LibraryProject/obj/
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
.vs/
.idea/
*.user
*.cache
packages/
*.nupkg
project.assets.json
.nuget.
# Build output directories
bin/
obj/
x86/
[Bb]uild/
[Ll]og/
# User-specific files
*.suo
*.userosscache
*.sln.docstates
# Visual Studio cache/options directory
# NuGet Packages
.nuget/
# Compiled output
*.exe
*.dll
*.pdb
*.ref
*.refint
# Compiled configuration files
*.editorconfigg
*.genruntimeconfig.cache
*.staticwebassets.runtime.json